*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}
.containerss{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px 5px;
}
.git-p{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0;
  padding: 15px 0;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
  border: 1px solid black;
}
.input-search{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 1px solid black;
  padding: 5px 0;
}
.gitSearch{
width: 250px;
  padding: 5px 10px;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 3px;
  
  border: 1px solid black;
}
.search-btn{
  padding: 7px 15px;
  font-family: sans-serif;
  font-weight: 600;
  background-color: dodgerblue;
  color: whitesmoke;
  border: transparent;
  border-radius: 3px;
}
.display-user{
  margin: 10px 0;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}
.users-div{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  border: 1px solid black;
  width: 100%;
  height: 400px;

}
.pre-nxt-btn{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 30px;
}
.prev{
  padding: 7px 15px;
  font-family: sans-serif;
  font-weight: 600;
  background-color: dodgerblue;
  color: whitesmoke;
  border: transparent;
  border-radius: 3px;
}
.next{
padding: 7px 15px;
font-family: sans-serif;
font-weight: 600;
background-color: dodgerblue;
color: whitesmoke;
border: transparent;
border-radius: 3px;
}
.users{
  padding: 17px 10px;
  margin: 10px 10px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.loader, h3{
  display: flex;
  justify-content: center;
  align-items: center ;
  margin: 1px 5px;
  padding: 5px 10px;
}